footer {
    background-color: #A9ADFC;
    width: 100vw;
    height: auto;
    
}


.content__footer{
    display: flex;
    flex-direction: row;
}




.content__footer__subdiv{
    display: flex;
    flex-direction: column;
}

.content__footer__contact{
    
    background-color: violet;

}

.content__footer__events{
    
    background-color: chartreuse;

    
}
.footer__title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    text-align: left;
    color: #000000;
    background-color: brown;
}




.content__footer__subdiv a {
    text-decoration: none;
    color: #000000;
}




/* Área de copyright */
.content__footer__copyright{
    
    background-color: #1048AE;
    text-align: center;
    padding: 0.2%;
}

.copyright__text{
    
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    color: #fff;
}